.flags {
	  width: 16px;
  height: 11px;
  position: relative;
  background: url(../images/allflags.gif) no-repeat;
  top: -2px;
  margin-right: 10px;
}

.flags.flags-ay {background-position:0px 0px;}
.flags.flags-ar {background-position:-18px 0px;}
.flags.flags-bs {background-position:-36px 0px;}
.flags.flags-bg {background-position:-54px 0px;}
.flags.flags-cs {background-position:-72px 0px;}
.flags.flags-ca {background-position:-90px 0px;}
.flags.flags-da {background-position:-108px 0px;}
.flags.flags-de {background-position:-126px 0px;}
.flags.flags-en {background-position:-144px 0px;}
.flags.flags-es {background-position:-162px 0px;}
.flags.flags-et {background-position:-180px 0px;}
.flags.flags-fa {background-position:-198px 0px;}
.flags.flags-fi {background-position:-216px 0px;}
.flags.flags-fr {background-position:-234px 0px;}
.flags.flags-gr {background-position:-252px 0px;}
.flags.flags-el {background-position:-252px 0px;}
.flags.flags-he {background-position:-270px 0px;}
.flags.flags-hr {background-position:-288px 0px;}
.flags.flags-hu {background-position:-306px 0px;}
.flags.flags-hy {background-position:-324px 0px;}
.flags.flags-id {background-position:-342px 0px;}
.flags.flags-is {background-position:-360px 0px;}
.flags.flags-it {background-position:-378px 0px;}
.flags.flags-ja {background-position:-396px 0px;}
.flags.flags-ka {background-position:-414px 0px;}
.flags.flags-kk {background-position:-432px 0px;}
.flags.flags-ko {background-position:-450px 0px;}
.flags.flags-lb {background-position:-468px 0px;}
.flags.flags-lt {background-position:-486px 0px;}
.flags.flags-lv {background-position:-504px 0px;}
.flags.flags-mk {background-position:-522px 0px;}
.flags.flags-nl {background-position:-540px 0px;}
.flags.flags-no {background-position:-558px 0px;}
.flags.flags-pb {background-position:-576px 0px;}
.flags.flags-pl {background-position:-594px 0px;}
.flags.flags-pt {background-position:-612px 0px;}
.flags.flags-ro {background-position:-630px 0px;}
.flags.flags-ru {background-position:-648px 0px;}
.flags.flags-sk {background-position:-666px 0px;}
.flags.flags-sl {background-position:-684px 0px;}
.flags.flags-sq {background-position:-702px 0px;}
.flags.flags-sr {background-position:-720px 0px;}
.flags.flags-sv {background-position:-738px 0px;}
.flags.flags-th {background-position:-756px 0px;}
.flags.flags-tr {background-position:-774px 0px;}
.flags.flags-uk {background-position:-792px 0px;}
.flags.flags-vi {background-position:-810px 0px;}
.flags.flags-zh {background-position:-828px 0px;}
.flags.flags-un {background-position:-846px 0px;}
.flags.flags-gl {background-position:-864px 0px;}
.flags.flags-ms {background-position:-882px 0px;}
.flags.flags-oc {background-position:-900px 0px;}
.flags.flags-eo {background-position:-918px 0px;}    
.flags.flags-si {background-position:-936px 0px;}      
.flags.flags-tl {background-position:-954px 0px;}
.flags.flags-ur {background-position:-972px 0px;}
.flags.flags-uk {background-position:-990px 0px;}
.flags.flags-bn {background-position:-1008px 0px;}
.flags.flags-eu {background-position:-1026px 0px;}
.flags.flags-br {background-position:-1044px 0px;}
.flags.flags-hi {background-position:-1062px 0px;}
.flags.flags-km {background-position:-1080px 0px;}    
.flags.flags-zt {background-position:-1098px 0px;}   
.flags.flags-ze {background-position:-1116px 0px;} 