<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  

 <vendor>Streamstudio Update</vendor>
 <vendor_url>http://streamstudio.cm/</vendor_url>
 <icon_name>system-software-update</icon_name>


 <action id="org.freedesktop.streamstudio">
 
 <description>Update Streamstudio</description>
 <message xml:lang="fr">Une authentification est requise pour lancer la mise à jour de Streamstudio.</message>
 <message xml:lang="en">Authentication is required to update Streamstudio.</message>
 <defaults>
 <allow_any>no</allow_any>
 <allow_inactive>auth_admin</allow_inactive>
 <allow_active>auth_admin</allow_active>
 </defaults>
 <annotate key="org.freedesktop.policykit.exec.path">/opt/streamstudio/streamstudio-updater</annotate>
 <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>

</policyconfig>
