[Desktop Entry]
Version=1.0
Name=StreamStudio
Comment=desktop streaming application
Exec=streamstudio
Icon=streamstudio
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;
Name[fr_FR]=StreamStudio
