/*
    Document        : mep-feature-playlist.css
    Author          : Andrew Berezovsky <andrew.berezovsky@gmail.com>
    Original Author : Junaid Qadir Baloch <shekhanzai.baloch@gmail.com>
*/

/* Start: Show/Hide Playlist*/
.mejs-controls .mejs-show-playlist button {
  background: transparent url(controls-playlist.png) no-repeat;
  background-position: -16px -16px;
}
.mejs-controls .mejs-hide-playlist button {
  background: transparent url(controls-playlist.png) no-repeat;
  background-position: -16px 0;
}
/* End: Show/Hide Playlist */

/* Start: Previous */
.mejs-controls .mejs-prevtrack button {
  background: transparent url(controls-playlist.png) no-repeat;
  background-position: 0 -16px;
}
/* End: Previous */

/* Start: Next */
.mejs-controls .mejs-nexttrack button {
  background: transparent url(controls-playlist.png) no-repeat;
}
/* End: Next */

/* Start: Shuffle */
.mejs-controls .mejs-shuffle-on button {
  background: transparent url(controls-playlist.png) no-repeat;
  background-position: -32px 0;
}
.mejs-controls .mejs-shuffle-off button {
  background: transparent url(controls-playlist.png) no-repeat;
  background-position: -32px -16px;
}
/* End: Shuffle */


#box {
  width: calc(100% - 20px) !important;
  margin: 10px;
  padding: 10px;
  background: none;
  color: white !important;
  border: 1px solid white;
  border-radius: 4px;
}

#box::-webkit-input-placeholder {
  color:white;
  position: relative;
  top: 2px;
}

/*Start: Playlist*/
.mejs-playlist {
  position: absolute;
  left: 0;
  height: 200px !important;
  overflow-y: auto;
  background: #000000;
  bottom: 65px !important;
  width: 50%;
  height: calc(100% - 100px) !important;
  opacity: 0.9;
  color: white;
  width:50% !important;
  opacity:0.5;
  background: rgba(6, 6, 6, 0.39);
  /* font-size: 13px; */
}
.mejs-playlist ul {
  margin: 0;
  padding: 5px;
}
.mejs-playlist li {
    color: white;
  font-size: 13px;
  /* height: 16px; */
  overflow: hidden;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.21);
}
.mejs-playlist li:hover {
  color: #a8a8a8;
}
.mejs-playlist li.current {
  color: rgb(40, 164, 201);
  font-weight: bold;
}
/*End: Playlist*/